<label>
  <span>Movie Title</span>
  {{input placeholder="e.g Spiderman" class="input-text" type="text" value=round.title}}
</label>

<label>
  <span>Code</span>
  {{input placeholder="e.g. SPIDEY" class="input-text" type="text" value=round.code}}
</label>

<label>
  <span>Start Date</span>
  {{input class="input-text" value=round.startDate}}
</label>

<label>
  <span>End Date</span>
  {{input class="input-text" value=round.endDate}}
</label>

<label>
  <span>Box Office Amount</span>
  {{input class="input-text" type="number" value=round.boxOfficeAmount disabled=isNewRound}}
</label>

<button class="submit-button" type="submit">Submit</button>
