<h1>Viewing wagers for {{movieRound.title}}</h1>

{{#if movieRound.boxOfficeAmount}}
  <h2>Final amount: {{format-currency movieRound.boxOfficeAmount}}</h2>
  <h3>Top finishers:</h3>
{{/if}}

{{#each wagers as |wager|}}
  <div>
    {{#if wager.place}}
      {{wager.place}}.
    {{/if}}
    {{format-currency wager.amount}} by {{wager.user.name}}
  </div>
{{/each}}
