<ul class="nav-bar__list">
  <li class="nav-bar__item">
    {{link-to "Home" "index"}} {{fa-icon "home"}}
  </li>
  {{#if currentUser}}
    <li class="nav-bar__item">
      <a href {{action "logoutUser"}}>Logout</a> {{fa-icon "sign-out"}}
    </li>
  {{else}}
    <li class="nav-bar__item">
      {{link-to "Sign in" "sign-in"}} {{fa-icon "sign-in"}}
    </li>
  {{/if}}
</ul>
