<label>
  <span>Movie Title</span>
  {{input placeholder="e.g Spiderman" class="input-text" type="text" value=movieRound.title}}
</label>

<label>
  <span>Code</span>
  {{input placeholder="e.g. SPIDEY" class="input-text" type="text" value=movieRound.code}}
</label>

<label>
  <span>Start Date</span>
  {{input class="input-text" value=movieRound.startDate}}
</label>

<label>
  <span>End Date</span>
  {{input class="input-text" value=movieRound.endDate}}
</label>

<label>
  <span>Box Office Amount</span>
  {{input class="input-text" type="number" value=movieRound.boxOfficeAmount disabled=isNewRound}}
</label>

<button type="submit">Submit</button>
