<section class="form-container page-wrapper">
  <h2 class="form-header">Viewing wagers for</h2>
  <h1>{{movieRound.title}}</h1>

  {{#if movieRound.boxOfficeAmount}}
    <h2 class="form-header">Final amount: {{format-currency movieRound.boxOfficeAmount}}</h2>
    <h3>Top finishers:</h3>
  {{/if}}

  <div class="wager-wrapper">
    {{#each wagers as |wager|}}
      <div class="wager">
        {{#if wager.place}}
          {{wager.place}}.
        {{/if}}
        {{format-currency wager.amount}} by {{wager.user.name}}
      </div>
    {{/each}}
  </div>

  {{#if notEnoughWagers}}
    <h2>Not enough wagers to display chart</h2>
  {{else}}
    {{vertical-movie-chart wagers=sortedWagers finalAmount=movieRound.boxOfficeAmount}}
  {{/if}}
</section>
